<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://localhost/dbooklib/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="./css/bootstrap.min.css"> -->
    <title>数据</title>

    <style>
        .body {
            font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC",
                "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        }

        .dlib-analysis-container {
            margin-top: 2px;
            margin-bottom: 2px;
        }

        .dlib-analysis-main {
            margin-top: 2em;
        }

        .dlib-analysis-main-left-readnum {
            padding-left: 8%;
        }

        .dlib-analysis-author {
            width: 95%;
            margin-right: 2em;
        }

        .dlib-analysis-authors{
            margin-top: 1em;
            margin-right: 4%;
            width: 80%;
        }
    </style>
</head>

<body>
    <div class="dlib-analysis-container">
        <!-- Image and text -->
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/dbooklib/">
                <img src="./pics/sailor.jpg" width="30" height="30" class="d-inline-block align-top"
                    alt=""><span>阅读数据</span>
            </a>
        </nav>
        <div class="dlib-analysis-main row">
            <div class="dlib-analysis-main-left col-sm-2">
                <div class="dlib-analysis-main-left-readnum">
                    <div class="card border-success mb-1" style="max-width: 8rem;">
                        <div class="card-header">已读</div>
                        <div class="card-body text-success">
                            <p class="card-text" th:text="${readStats.read}">100</p>
                        </div>
                    </div>
                    <div class="card border-danger mb-1" style="max-width: 8rem;">
                        <div class="card-header">未读</div>
                        <div class="card-body text-danger">
                            <p class="card-text" th:text="${readStats.notRead}">100</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dlib-analysis-main-middle col-sm-7">
                <div id="analysis-year-chart" class="analysis-year-chart">
                </div>
                <div id="analysis-category-chart">
                </div>
                <div id="analysis-oneyear-chart">
                </div>
            </div>
            <div class="dlib-analysis-main-right col-sm-3">
                <h5>读过的作者</h5>
                <div id="dlib-analysis-authors" class="dlib-analysis-authors">
                    <ul id="dlib-analysis-author-list" class="list-group">
                    </ul>
                </div>
                <!-- <div id="dlib-analysis-author-tops">
                    <div class="card mb-3 dlib-analysis-author">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                                <img src="http://localhost/pics/author/asimov.jpg" class="card-img" alt="...">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h6 class="card-title">艾萨克·阿西莫夫</h6>
                                    <p class="card-text"><small class="text-muted">6</small></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3 dlib-analysis-author">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                                <img src="http://localhost/pics/author/neilgaiman.jpg" class="card-img" alt="...">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h6 class="card-title">尼尔·盖曼</h6>
                                    <p class="card-text"><small class="text-muted">5</small></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3 dlib-analysis-author">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                                <img src="http://localhost/pics/author/liucixin.jpg" class="card-img" alt="...">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h6 class="card-title">刘慈欣</h6>
                                    <p class="card-text"><small class="text-muted">4</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>

    </div>

    <script src="./js/jquery-3.4.1.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/highcharts.js"></script>
    <script src="./js/highcharts-more.js"></script>
    <script src="./js/exporting.js"></script>
    <script src="./js/heatmap.js"></script>
    <script src="./js/oldie.js"></script>
    <script src="./js/tilemap.js"></script>
    <script type="text/javascript">
        meta = {
            host: 'http://' + window.location.host + '/dbooklib/',
            yearLabels: [],
            yearStats: { name: '全部', data: [] },
            toDos: 0
        }

        $(function () {

            $.ajax(meta.host + 'rest/analysis/year', {
                method: 'GET',
                dataType: 'html',
                headers: {
                    "Content-Type": "application/json"
                },
                success: function (response) {
                    var $content = JSON.parse(response)
                    for (var i = 0; i < $content.length; i++) {
                        if ($content[i]._id == null) {
                            meta.toDos = $content[i].count
                            continue
                        }
                        meta.yearLabels[i] = $content[i]._id
                        meta.yearStats.data[i] = $content[i].count
                    }

                    console.log(meta.yearLabels)
                    Highcharts.chart('analysis-year-chart', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: '读书年分布'
                        },
                        // subtitle: {
                        //     text: 'Source: WorldClimate.com'
                        // },
                        xAxis: {
                            categories: meta.yearLabels,
                            crosshair: true
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: ''
                            }
                        },
                        tooltip: {
                            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                '<td style="padding:0"><b>{point.y} 本</b></td></tr>',
                            footerFormat: '</table>',
                            shared: true,
                            useHTML: true
                        },
                        plotOptions: {
                            column: {
                                pointPadding: 0.2,
                                borderWidth: 0
                            }
                        },
                        series: [meta.yearStats]
                    });
                }
            })

            $.ajax(meta.host + 'rest/analysis/category', {
                method: 'GET',
                dataType: 'html',
                headers: { "Content-Type": "application/json" },
                success: function (response) {
                    var myDate = new Date();
                    var tYear = myDate.getFullYear();
                    var dividence = tYear - 2000
                    var maxValue = 0

                    $content = JSON.parse(response)
                    var current_year = $content[String(tYear)]
                    var previous_year = $content[String(tYear - 1)]
                    var history = $content['history']

                    var all_type = []
                    var history_count = [0, 0, 0, 0, 0]
                    var current_year_count = [0, 0, 0, 0, 0]
                    var previous_year_count = [0, 0, 0, 0, 0]

                    var loopData = (category_data, target_count) => {
                        for (var j = 0; j < category_data.length; j++) {
                            if (category_data[j].count > maxValue)
                                maxValue = category_data[j].count

                            // console.log(category_data[j]._id )
                            if (category_data[j]._id == '历史')
                                target_count[0] = category_data[j].count
                            else if (category_data[j]._id == '文学')
                                target_count[1] = category_data[j].count
                            else if (category_data[j]._id == '漫画')
                                target_count[2] = category_data[j].count
                            else if (category_data[j]._id == '计算机')
                                target_count[3] = category_data[j].count
                            else if (category_data[j]._id == '论述')
                                target_count[4] = category_data[j].count
                        }
                    }

                    for (var i = 0; i < history.length; i++) {
                        all_type[i] = history[i]._id
                        history_count[i] = history[i].count / dividence
                        if (history_count[i] > maxValue)
                            maxValue = history_count[i]
                    }

                    loopData(current_year, current_year_count)
                    loopData(previous_year, previous_year_count)

                    Highcharts.chart('analysis-category-chart', {

                        chart: {
                            polar: true,
                            type: 'line'
                        },

                        accessibility: {
                            description: '读书种类对比，今年 vs 历史。'
                        },

                        title: {
                            text: '类别分布',
                            x: -80
                        },

                        pane: {
                            size: '85%'
                        },

                        xAxis: {
                            categories: all_type,
                            tickmarkPlacement: 'on',
                            lineWidth: 0
                        },

                        yAxis: {
                            gridLineInterpolation: 'polygon',
                            lineWidth: 0,
                            softMin: 5,
                            softMax: 5,
                            endOnTick: false
                        },

                        tooltip: {
                            shared: true,
                            pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y}</b><br/>'
                        },

                        legend: {
                            align: 'right',
                            verticalAlign: 'middle'
                        },

                        series: [{
                            name: '今年',
                            data: current_year_count,
                            color: '#53E30F',
                            pointPlacement: 'on'
                        }, {
                            name: '去年',
                            data: previous_year_count,
                            color: '#1DBDE5',
                            pointPlacement: 'on'
                        }, {
                            name: '历史记录',
                            data: history_count,
                            color: '#E44532',
                            pointPlacement: 'on'
                        }],

                        responsive: {
                            rules: [{
                                condition: {
                                    maxWidth: 500
                                },
                                chartOptions: {
                                    legend: {
                                        align: 'center',
                                        verticalAlign: 'bottom'
                                    },
                                    pane: {
                                        size: '100%'
                                    }
                                }
                            }]
                        }

                    });
                }
            })

            $.ajax(meta.host + 'rest/analysis/author', {
                method: 'GET',
                dataType: 'html',
                headers: {
                    "Content-Type": "application/json"
                },
                success: function (response) {
                    content = JSON.parse(response)
                    console.log(content)
                    $list = $('#dlib-analysis-author-list')

                    $.each(content, function (index, value) {
                        $li = $('<li class="list-group-item d-flex justify-content-between align-items-center"></li>')
                        $li.html(value._id)
                        $num = $('<span class="badge badge-primary badge-pill"></span>')
                        $num.html(value.count)
                        $li.append($num)
                        $list.append($li)
                    })
                }
            })

            const initPage = () => {
                $('#dlib-analysis-author-tops').hide()
            }

            initPage()
        })

    </script>
</body>

</html>