<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://localhost:8090/css/bootstrap.min.css">
 	<link rel="stylesheet" href="http://localhost:8090/css/home.css">
    <title>Hello, Books!</title>
    <script type="text/javascript">
        host = window.location.host;
    </script>
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="dlib-header-search collapse navbar-collapse flex-fill" id="navbarTogglerDemo01">
                <img class="dlib-logo" src="http://localhost:8090/pics/sailor.jpg" alt="Hello Books!" />
                <div class="dlib-logo-name">Books</div>
                <div class="dlib-header-search-buffer"></div>
                
                <div class="form-inline my-0 my-lg-0">
                    <input id="dlib-header-search-input" class="form-control mr-sm-1 input-lg" type="search"
                        placeholder="Search" aria-label="Search">
                    <button id="dlib-header-search-btn" class="btn btn-outline-success my-2 my-sm-0">搜索</button>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul id='dlib-nav-category-group' class="navbar-nav mr-auto mt-2 mt-lg-0 mx-auto dlib-header-tab">
                    <li class="nav-item active">
                        <a id='dlib-nav-category-all' class="nav-link" href="#">全部</a>
                    </li>
                    <li class="nav-item">
                        <a id='dlib-nav-category-history' class="nav-link" href="#">历史</a>
                    </li>
                    <li class="nav-item">
                        <a id='dlib-nav-category-literature' class="nav-link" href="#">文学</a>
                    </li>
                    <li class="nav-item">
                        <a id='dlib-nav-category-popularization' class="nav-link" href="#">科普</a>
                    </li>
                    <li class="nav-item">
                        <a id='dlib-nav-category-computer' class="nav-link" href="#">计算机</a>
                    </li>
                    <li class="nav-item">
                        <a id='dlib-nav-category-cartoon' class="nav-link" href="#">漫画</a>
                    </li>
                </ul>
            </div>
        </nav>
        <nav class="dlib-header-filter">
            <div id="dlib-header-filter-isread-group" class="btn-group">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">已读</button>
                <div class="dropdown-menu">
                    <a id="dlib-header-filter-isread-group-read" class="dropdown-item" href="#">已读</a>
                    <a id="dlib-header-filter-isread-group-unread" class="dropdown-item" href="#">未读</a>
                    <div class="dropdown-divider"></div>
                    <a id="dlib-header-filter-isread-group-all" class="dropdown-item" href="#" active>全部</a>
                </div>
            </div>
            <div id="dlib-header-filter-year-group" class="btn-group">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">全部</button>
                <div class="dropdown-menu">
                    <a id="dlib-header-filter-year-group-2019" class="dropdown-item" href="#">2019</a>
                    <a id="dlib-header-filter-year-group-2018" class="dropdown-item" href="#">2018</a>
                    <a id="dlib-header-filter-year-group-2017" class="dropdown-item" href="#">2017</a>
                    <div class="dropdown-divider"></div>
                    <a id="dlib-header-filter-year-group-all" class="dropdown-item" href="#">全部</a>
                </div>
            </div>
            <div class="btn-group">
                <button type="button" id='dlib-header-filter-add-new' class="btn btn-outline-success">添加</button>
            </div>

        </nav>
        <div class="dlib-main row">
            <div class="dlib-main-buffer-left col-2"></div>
            <div class="dlib-main-list col-6">
                <ul id="dlib-main-book-list" class="list-group list-group-flush">
                    <li class="list-group-item">
                    </li>
                </ul>
            </div>
            <div id="dlib-main-detail" class="dlib-main-detail col-3" hidden>
                <div class="card" style="width: 20rem;">
                    <img src="" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title dlib-main-detial-name"></h5>
                        <p class="card-text"></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item card-author"></li>
                        <li class="list-group-item card-star">&#9734;&#9734;&#9734;&#9734;&#9734;</li>
                        <li class="list-group-item card-year"></li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-forward-link">去往>></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-toolbar dlib-main-page-button-group" role="toolbar" aria-label="Toolbar with button groups">
            <div id="page-btn-group" class="btn-group mr-2 mx-auto" role="group" aria-label="First group">
                <button id="page_1" type="button" class="btn btn-outline-success">1</button>
                <button id="page_2" type="button" class="btn btn-outline-success">2</button>
                <button id="page_3" type="button" class="btn btn-outline-success">3</button>
                <button id="page_4" type="button" class="btn btn-outline-success">4</button>
                <button id="page_5" type="button" class="btn btn-outline-success">5</button>
                <button id="page_6" type="button" class="btn btn-outline-success">6</button>
                <button id="page_7" type="button" class="btn btn-outline-success">7</button>
                <button id="page_8" type="button" class="btn btn-outline-success">8</button>
            </div>
        </div>
        <footer class="zone dlib-footer" hidden>Footer</footer>
    </div>

    <script src="http://localhost:8090/js/jquery-3.4.1.js"></script>
    <script src="http://localhost:8090/js/popper.min.js"></script>
    <script src="http://localhost:8090/js/bootstrap.min.js"></script>
    <script src="http://localhost:8090/js/dbooklib.js"></script>
    <script type="text/javascript">
    </script>
</body>

</html>