<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <title>阅读信息</title>
    <style>
        .body {
            font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        }

        .dlib-read-container {
            margin-top: 2px;
            margin-bottom: 2px;
        }

        .dlib-read-main {
            margin-top: 2em;
        }

        .dlib-read-main-left {
            width: 30%;
            height: 600px;
        }

        .dlib-read-main-item-isread {
            position: relative;
        }

        .dlib-read-main-item-name-buffer{
            width:2em;
        }
    </style>
</head>

<body>
    <div class="dlib-read-container">
        <!-- Image and text -->
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="http://localhost:8090/library/">
                <img src="http://localhost:8090/pics/sailor.jpg" width="30" height="30" class="d-inline-block align-top"
                    alt=""><span>阅读信息</span>
            </a>
        </nav>
        <div class="dlib-read-main row">
            <div class="dlib-read-main-left col-sm-3"></div>
            <div class="dlib-read-main-middle col-sm-6">
                <div>
                    <div class="form-row">
                        <div class="form-group col-md-9">
                            <input type="text" class="form-control" id="inputName" placeholder="书名"
                                th:value="${readInfo!=null?readInfo.name:''}">
                        </div>
                        <div class="dlib-read-main-item-name-buffer"></div>
                        <div class="form-check col-md-2 dlib-read-main-item-isread">
                            <input class="form-check-input" type="checkbox" id="readCheck"
                                th:checked="${readInfo!=null?(readInfo.isRead?'checked':null):null}">
                            <label class="form-check-label" for="readCheck">
                                已读
                            </label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <input type="text" class="form-control" id="inputAuthor"
                                th:value="${readInfo!=null?readInfo.author:''}" placeholder="作者">
                        </div>
                        <div class="form-group col-md-4">
                            <select id="inputCategory" class="form-control">
                                <option th:selected="${readInfo!=null?readInfo.category=='文学':false}">文学</option>
                                <option th:selected="${readInfo!=null?readInfo.category=='科普':false}">历史</option>
                                <option th:selected="${readInfo!=null?readInfo.category=='科普':false}">科普</option>
                                <option th:selected="${readInfo!=null?readInfo.category=='计算机':false}">计算机</option>
                                <option th:selected="${readInfo!=null?readInfo.category=='漫画':false}">漫画</option>
                                <option th:selected="${readInfo!=null?readInfo.category=='其他':false}">其他</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <select id="inputSource" class="form-control">
                                <option th:selected="${readInfo!=null?readInfo.source=='Kindle':false}">Kindle</option>
                                <option th:selected="${readInfo!=null?readInfo.source=='图书馆':false}">图书馆</option>
                                <option th:selected="${readInfo!=null?readInfo.source=='纸质':false}">纸质</option>
                                <option th:selected="${readInfo!=null?readInfo.source=='其他':false}">其他</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" id="inputDate"
                                th:value="${readInfo!=null?readInfo.date:''}" placeholder="2019">
                        </div>
                        <div class="form-group col-md-10">
                            <input type="text" class="form-control" id="inputDescription"
                                th:value="${readInfo!=null?readInfo.description:''}" placeholder="描述">
                        </div>
                    </div>
                    <div class="form-group">
                        <button id="save" class="btn btn-primary dlib-read-main-submit">保存</button>
                        <div id='dlib-result-lbl' class="alert" role="alert"></div>
                        <div id="read-info-id" th:value="${readInfo!=null?readInfo.id:''}"></div>
                    </div>
                </div>
                <hr class="simple" color="#F0F0F0"/>	
            </div>
            <div class="dlib-read-main-right col-sm-3"></div>
        </div>
        
    </div>

    <script src="../../../js/jquery-3.4.1.js"></script>
    <script src="../../../js/popper.min.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
    <script src="../../../js/dbooklib.js"></script>
    <script type="text/javascript">
        $(function () {
            meta = {
                host: 'http://'+window.location.host
            }

            var checkNameEmpty = () => {
                if ($('#inputName').val() != '') {
                    if($('#inputName').hasClass('is-invalid'))
                    {
                        $('#inputName').removeClass('is-invalid')
                    }
                    return true
                }
                else {
                    if(!$('#inputName').hasClass('is-invalid'))
                    {
                        $('#inputName').addClass('is-invalid')
                    }
                    return false
                }
            }

            var checkYearInput = () => {
                if ($('#readCheck').is(':checked') && $('#inputDate').val() == '') {
                    if(!$('#inputDate').hasClass('is-invalid'))
                    {
                        $('#inputDate').addClass('is-invalid')
                    }
                    return false
                }
                else if (!$('#readCheck').is(':checked')) {
                    if($('#inputDate').hasClass('is-invalid'))
                    {
                        $('#inputDate').removeClass('is-invalid')
                    }
                    return true
                }
                return true
            }

            var checkDateEmpty = () => {
                if ($('#inputDate').val() != '') {
                    if($('#inputDate').hasClass('is-invalid'))
                    {
                        $('#inputDate').removeClass('is-invalid')
                    }
                }
                else if ($('#readCheck').is(':checked') && !$('#inputDate').hasClass('is-invalid')) {
                    $('#inputDate').addClass('is-invalid')
                }
            }

            const save = () => {
                var isValid = checkNameEmpty()
                isValid = isValid && checkYearInput()

                if (!isValid) {
                    alert("请输入必要信息。")
                }

                var url = meta.host + '/library/rest/read/save'
                var toSave = {
                    id: $('#read-info-id').attr('value'),
                    isRead: $('#readCheck').is(':checked'),
                    name: $('#inputName').val(),
                    author: $('#inputAuthor').val(),
                    category: $('#inputCategory').val(),
                    date: $('#inputDate').val(),
                    source: $('#inputSource').val(),
                    description: $('#inputDescription').val()
                }

                $.ajax(url, {
                    dataType: 'html',
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json"
                    },
                    data: JSON.stringify(toSave),
                    success: function (response) {
                        $content = JSON.parse(response)
                        $('#read-info-id').val($content._id)
                        $('#dlib-result-lbl').html('保存成功').removeClass('alert-danger').addClass('alert-success')
                        
                    },
                    error: function (err) {
                        $('#dlib-result-lbl').html('保存失败').removeClass('alert-success').addClass('alert-danger')
                    }
                })
            }

            $('#readCheck').on('change', checkYearInput);
            $('#inputName').on('input', checkNameEmpty)
            $('#inputDate').on('input', checkDateEmpty)
            $('#save').on('click', save)
            checkNameEmpty()
            checkYearInput()

        });
    </script>
</body>

</html>